h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 210201045-02: identificar el sistema de evaluación del desempeño según el marco normativo y lineamientos de la Comisión Nacional del Servicio Civil – (CNSC).



