

.container
    .header-ecored
        h1 1. Sistema Tipo de Evaluación de la CNSC
    .jumbotron.bg-white
        p El Sistema de Evaluación Tipo de la Comisión Nacional del Servicio Civil (CNSC), reglamentado por el Acuerdo 6176 de 2018, establece los elementos para la evaluación de desempeño laboral de los servidores de carrera administrativa y en periodo de prueba, mediante la aplicación de diferentes fases y con la participación de diversos actores.  Este sistema debe ser adoptado por las entidades del Estado que aún no cuenten con sistemas propios. 

    #11
    .jumbotron.bg-white
        .sub-line
            h2 1.1 Definición
        p La evaluación del desempeño laboral es un procedimiento para medir el avance, cumplimiento o incumplimiento de los compromisos laborales del empleado que ocupa un puesto de trabajo, dichos compromisos contribuyen al logro de las metas institucionales.

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1.jpg").img-fluid         
        
    #12
    .jumbotron.bg-white
        .sub-line
            h2 1.2 Finalidad
        p La finalidad de la evaluación del desempeño, del Sistema Tipo de la CNSC, se encuentra definida en el artículo 1 del  Acuerdo 6176 de 2018 de la siguiente forma: 

        hr.bd-hr-blue     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Es una herramienta de gestión objetiva y permanente, encaminada a valorar las contribuciones individuales y el comportamiento del evaluado, midiendo el impacto positivo o negativo en el logro de las metas institucionales. Esta evaluación de tipo individual permite así mismo medir el desempeño institucional.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 1°. Finalidad de la evaluación del desempeño.

    #13
    .jumbotron.bg-white
        .sub-line
            h2 1.3 Actores del proceso de evaluación del desempeño
        p Los actores que hacen parte del proceso de evaluación del desempeño laboral (EDL) del Sistema Tipo de la CNSC, quienes actúan de acuerdo a las funciones que les corresponde, son:

        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-7
                ul
                    li Comisión Nacional del Servicio Civil
                    li Jefe de la entidad 
                    li Jefe de la oficina de planeación o quien haga sus veces
                    li Jefe de la oficina de control interno o quien haga sus veces 
                    li Jefe de la de unidad de personal o quien haga sus veces  
                    li Evaluados y evaluadores 
                    li Comisión de personal.
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img2.svg").img-fluid  

    .header-arrow.my-5
        h2.text-center A continuación las funciones de los actores del proceso de EDL, definidas en el anexo técnico del Acuerdo 6176 de 2018.

    .jumbotron.bg-white
        .sub-line
            h2  Comisión Nacional del Servicio Civil
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                p “Socializar el Sistema Tipo de Evaluación del Desempeño laboral a través de los medios de divulgación que considere pertinentes”.
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img3.svg").img-fluid 

    .jumbotron.bg-white
        .sub-line
            h2  Jefe de la entidad
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                p “Desarrollar su propio sistema de evaluación del desempeño laboral y en el entretanto adoptar el Sistema Tipo de Evaluación del Desempeño laboral establecido por la CNSC”.
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img4.svg").img-fluid   

    .jumbotron.bg-white
        .sub-line
            h2  Jefe de la oficina de planeación o quien haga sus veces 
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                p Publicar a más tardar el treinta y un (31) de enero de cada año, las metas por áreas o dependencias de cada vigencia. (artículo 74 de la Ley 1474 de 2011).

                p Publicar los avances logrados por las áreas o dependencias en la ejecución de sus metas de la vigencia inmediatamente anterior conforme lo determina la ley.

            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img5.svg").img-fluid   

    .jumbotron.bg-white
        .sub-line
            h2  Jefe de la oficina de control interno o quien haga sus veces
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                p Dar a conocer a los evaluadores el resultado de la evaluación de gestión por áreas o dependencias del año inmediatamente anterior, para que se tenga como uno de los criterios en la concertación de los compromisos del siguiente período de evaluación.
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img6.svg").img-fluid   

    .jumbotron.bg-white
        .sub-line
            h2  Jefe de la unidad de personal o quien haga sus veces
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                ul
                    li
                        p Poner en funcionamiento el sistema de evaluación del desempeño al interior de la entidad, bien sea el sistema propio o excepcionalmente el Sistema Tipo diseñado por la CNSC. 

                    li
                        p Divulgar las disposiciones legales y reglamentarias relacionadas con la evaluación del desempeño laboral. 

                    li
                        p Diseñar y administrar el programa de capacitación en materia de evaluación del desempeño laboral. 

                    li
                        p Tener en cuenta los resultados de la evaluación del desempeño laboral, para establecer los planes de: estímulos, capacitación y bienestar de la entidad. 

                    li
                        p Conformar las comisiones evaluadoras, cuando haya lugar a ello, para el período de evaluación correspondiente.

            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img7.svg").img-fluid   

    .jumbotron.bg-white
        .sub-line
            h2  Comisión de personal
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                p “Resolver en única instancia, las reclamaciones que formulen los evaluados inconformes con los compromisos. (Literal b del artículo 16 de la Ley 909 de 2004)”.
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img8.svg").img-fluid   

    .jumbotron.bg-white
        .sub-line
            h2  Evaluados y evaluadores
        .row.justify-content-center.align-items-center.mt-5.bg-color.border-radius
            .col-8
                p De esta manera, el anexo técnico del Acuerdo 6176 de 2018. También lo aborda como, participar de manera activa en las diferentes fases que integran el proceso de evaluación del desempeño laboral: concertación de compromisos y sus seguimientos, acordar compromisos de mejoramiento individual cuando sea necesario, presentar las evidencias que se generen durante el período de evaluación. Corresponde al evaluador diligenciar los instrumentos de evaluación del desempeño laboral.
            .col-auto
                img.img-a.mt-2(src="assets/images/pages/ilustraciones/img9.svg").img-fluid 

    #14
    .jumbotron.bg-white
        .sub-line
            h2 1.4 Comisión evaluadora 

        p Las comisiones evaluadoras, son responsables de llevar a efecto la evaluación del desempeño laboral de los empleados de carrera administrativa y empleados en periodo de prueba. 

        p En el anexo técnico del Acuerdo 6176/18 se define que si el jefe inmediato del evaluado es de carrera, con nombramiento en provisionalidad, o se encuentra en período de prueba; el jefe de talento humano o quien haga sus veces deberá conformar la comisión evaluadora desde el inicio del proceso de evaluación del desempeño laboral. Esta comisión estará integrada por el jefe inmediato del evaluado y un servidor de libre nombramiento y remoción, y actuará desde la concertación de compromisos laborales   hasta que la calificación se encuentre en firme. 

        p El empleado de libre nombramiento y remoción de la comisión evaluadora tiene la responsabilidad de evaluar, si el empleado de carrera, provisional o en período de prueba pierde la calidad de jefe inmediato. 

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img10.jpg").img-fluid 

    #15
    .jumbotron.bg-white
        .sub-line
            h2 1.5 Porcentajes de evaluación

        p Los compromisos laborales (funcionales y comportamentales) que se convengan entre el evaluado y el evaluador, tienen un peso porcentual del 100%, distribuido de la siguiente manera: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img11.svg").img-fluid 

        p <b>Los compromisos funcionales </b>están relacionados con los resultados, productos o servicios, que se evalúan  de acuerdo al cumplimiento,  en un rango de 1 a 100.  

        p <b>Los compromisos comportamentales </b>hacen referencia al desempeño observado de   la actitud o conducta que muestra el servidor público en el desarrollo de las funciones. Estos  compromisos se evalúan de acuerdo al nivel de desarrollo de la competencia. El Decreto 815/18 define las competencias comportamentales   comunes a los servidores públicos y por nivel jerárquico.  

    #16
    .jumbotron.bg-white
        .sub-line
            h2 1.6 Niveles de desarrollo
        p En el anexo técnico  del Acuerdo 6176 de 2018, se describen los siguientes  niveles de desarrollo  con su correspondiente escala,  para la evaluación de los compromisos comportamentales,  y de acuerdo al resultado, se puede derivar un compromiso  de mejoramiento individual.               

        table.table.table-bordered.table-striped.mt-5
            thead
                tr
                    td.table1 Niveles de desarrollo 

                    td.table1 Descripción

                    td.table1 Resultados numéricos                                

            tbody
                tr.table2
                    td Bajo

                    td.text-izq En el anexo técnico  del Acuerdo 6176 de 2018, se describen los siguientes  niveles de desarrollo  con su correspondiente escala,  para la evaluación de los compromisos comportamentales,  y de acuerdo al resultado, se puede derivar un compromiso  de mejoramiento individual. 

                    td 4 a 6 

            tbody
                tr.table3
                    td Aceptable

                    td.text-izq El nivel de desarrollo de la competencia se evidencia con mediana frecuencia, con un impacto parcial en la obtención de las metas y logros esperados. 

                    td 7 a 9

            tbody
                tr.table2
                    td Alto

                    td.text-izq El nivel de desarrollo de la competencia se evidencia de manera permanente e impacta ampliamente y de manera positiva en la obtención de las metas y logros esperados. 

                    td 10 a 12 

            tbody
                tr.table3
                    td Muy alto

                    td.text-izq El nivel de desarrollo de la competencia se evidencia de manera permanente, impactando amplia y positivamente la obtención de las metas y logros esperados, e igualmente agregando valor en los procesos y resultados. 

                    td 13 a 15  

    #17
    .jumbotron.bg-white
        .sub-line
            h2 1.7 Escala de calificación
        p La escala de calificación establece el rango para evaluar el nivel de cumplimiento de los compromisos concertados entre el evaluado y el evaluador. 
 
        p En el artículo 10 del Acuerdo 6176 de 2018, la escala de calificación del desempeño anual y en periodo de prueba,  conforme al porcentaje que asigne el evaluador para los niveles establecidos. se encuentra de la siguiente forma: 
        img.img-a.my-5(src="assets/images/pages/ilustraciones/img12.svg").img-fluid

    #18
    .jumbotron.bg-white
        .sub-line
            h2 1.8 Usos y consecuencias de los niveles de calificación
        p Los usos y consecuencias de los niveles de calificación de acuerdo al porcentaje obtenido,  están contenidos en los artículos 12, 13, 14 y 15 de Acuerdo 6176 de 2018,  así:                                                                                    

        hr.bd-hr-blue     
        .timeline
            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    ul.px-5.pt-5 
                        li Adquirir derechos de carrera administrativa con la calificación definitiva en firme del período de prueba, tanto para el ingreso o el ascenso, como consecuencia de un concurso de méritos.

                        li Acceder a encargos cuando se cumpla con la totalidad de los requisitos establecidos en el artículo 24 de la Ley 909 de 2004.

                        li Acceder a comisiones para desempeñar empleos de libre nombramiento y remoción o de período fijo en los términos del artículo 26 de la Ley 909 de 2004.

                        li Acceder a los beneficios contenidos en el plan de estímulos de la entidad.

                    p Para efecto del reconocimiento de incentivos institucionales se entenderá la calificación sobresaliente como equivalente al nivel de excelencia de que trata el Decreto 1083 de 2015 o las disposiciones que lo modifiquen, aclaren o sustituyan.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 12°. Usos de la calificación en nivel sobresaliente.  

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    ul.px-5.pt-5 
                        li Adquirir derechos de carrera administrativa con la calificación definitiva en firme del período de prueba, tanto para el ingreso o el ascenso, como consecuencia de un concurso de méritos.

                        li Permanecer en el servicio y conservar los derechos de carrera. 

                        li Posibilidad de ser encargado, a discrecionalidad del nominador, cumpliendo con los demás requisitos establecidos en el artículo 24 de la Ley 909 de 2004. Siempre que no exista en la planta de personal, un servidor con derecho preferencial a ser encargado.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 13°. Usos de la calificación en nivel satisfactorio.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    ul.px-5.pt-5 
                        li Planificar la capacitación y la formación de los servidores públicos.
                        li Conceder becas o comisiones de estudio.
                        li Otorgar incentivos económicos o de otro tipo.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 14°. Usos complementarios de la calificación del desempeño laboral.

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    ul.px-5.pt-5 
                        li Separación de la carrera administrativa y pérdida de los derechos inherentes a ella.
                        li Retiro del servicio.
                        li Pérdida del encargo y la obligación de regresar al empleo en el cual ostenta derechos de carrera.
                        li En firme la calificación no satisfactoria del período de prueba, el empleado debe regresar al cargo en que ostenta derechos de carrera.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Artículo 15°. Consecuencias de la calificación en el nivel no satisfactorio. 

            .row.no-gutters.justify-content-end.justify-content-md-around.align-items-start.timeline-nodes
                .col-10.col-md-5.order-3.order-md-1.timeline-content
                    p.px-5.py-5 Ejecutoriada la calificación no satisfactoria, se aplicará el procedimiento administrativo consagrado en la Ley 909 de 2004 y el Decreto Ley 760 de 2005 o las disposiciones que lo modifiquen, aclaren o sustituyan.
                .col-2.col-sm-1.px-md-3.order-2.timeline-image.text-md-center
                    img.img-fluid(src='assets/images/pages/ilustraciones/time.png', alt='img')
                .col-10.col-md-5.order-1.order-md-3.py-3.timeline-date
                    time.text-title Parágrafo.

    #19
    .jumbotron.bg-white
        .sub-line
            h2 1.9 Instrumentos de evaluación
        p La  Comisión Nacional del Servicio Civil (CNSC),  ha dispuesto  el  aplicativo EDL APP, como instrumento para llevar a cabo el proceso evaluación del desempeño laboral en las entidades públicas que aún no cuentan con  sistemas propios aprobados por la Comisión. 

        p Para el uso del aplicativo, se puede remitir a ver el Anexo 1 Instructivo para el manejo del aplicativo: 

        section.my-4

            a(href="https://www.cnsc.gov.co/DocumentacionCNSC/Comisiones_Personal/Aplicativo/I-VP-001%20INSTRUCTIVO%20APLICACION%20COMISIONES%20DE%20PERSONAL%20v3.0.pdf" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Anexo.</b> Instructivo para el manejo de la aplicaciónde comisiones de personal

    #110
    .jumbotron.bg-white
        .sub-line
            h2 1.10 Evaluación del teletrabajador
        p Las nuevas tecnologías de la información y la comunicación permiten realizar el trabajo  en un lugar diferente a las instalaciones de la entidad, a lo que se denomina:  <b>teletrabajo</b> 

        p De conformidad con lo establecido en la Ley 1221/18 y el Decreto 1072/15, Los servidores de carrera administrativa y en período de prueba serán evaluados con base en los parámetros establecidos por la CNSC en el  Acuerdo 6176 de 2018, su anexo técnico y los instrumentos de evaluación. (Artículo 19°. Evaluación del teletrabajador).

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img13.jpg").img-fluid

    #111
    .jumbotron.bg-white
        .sub-line
            h2 1.11 Evaluación de servidores administrativos del sector educativo
        p Con respecto a la evaluación de los servidores administrativos del sector educativo, el Acuerdo 6176 de 2018 en el artículo 20, establece  que los compromisos serán concertados entre el rector o director rural y el servidor evaluado. Al Secretario de  Educación o quien haga sus veces, le corresponde fijar uno de los compromisos para todos los servidores públicos que hacen parte de la planta administrativa de las instituciones educativas. Al final del periodo de evaluación el rector o director rural, según el caso, evaluará los compromisos.

        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img14.jpg").img-fluid        
                

                    
                            
                                                                                                         